@-webkit-keyframes phoneAnimation {
    from {bottom: -5px}
    to {bottom: -20px}
}


html, body, .container-table, .login_page{
    height: 100%;
    font-style: normal;
}

.header{
    position: absolute;
    left: 0;
    right: 0;
    top: 5%;
    margin: auto;
    font-family: 'Pacifico', serif;
}

.login_page {
    text-align: center;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#feffff+0,ddf1f9+35,a0d8ef+100;Blue+3D+%2318 */
    background: #feffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #feffff 0%, #ddf1f9 35%, #a0d8ef 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #feffff 0%,#ddf1f9 35%,#a0d8ef 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #feffff 0%,#ddf1f9 35%,#a0d8ef 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#a0d8ef',GradientType=0 ); /* IE6-9 */

}

.container-table {
    display: table;
}
.room_container {
    width : 50%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.room_info {
    background: transparent;
    text-align: center;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 2px inset #000000;
    font-size: 44px;
    outline: none;
}
#answer-button{
    margin-left: 100px;
    width: 130px;
    height: 60px;
    font-size: 24px;
}
#ignore-button{
    width: 130px;
    height: 60px;
    font-size: 24px;
    margin-left: 100px;
}

.vertical-center {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

.video-container{
    text-align: center;
    width : 100%;
    height: 90%;
    background: url("../img/gray.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
}
.local {
    position: absolute;
    width: 20%;
    height: 25%;
    background-color: #ffffff;
    border: 3px solid #000000;
    border-radius: 9px;
}
.remote {
    width: 80%;
    height: 90%;
    background-color: #FFFFFF;
    border: 7px solid #000000;
    border-radius: 41px;
}

#hang-up {
    width: 100px;
    height: 100px;
    background-image: url("../img/phone.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: absolute;
    bottom: -10px;
    right: 47%;
}

#hang-up:hover {
    cursor: pointer;
    -webkit-animation: phoneAnimation 1s infinite;
    -webkit-animation-timing-function: ease;
    animation: phoneAnimation 1s infinite;
    animation-timing-function: ease;
}

.but{
    background-color: #CFCFCF;
    border: 1px inset #414141;
    font-size: 14px;
    border-radius: 9px;
    transition-duration: 0.2s;
    margin-top: 3px;
    margin-right: 7px;
    margin-bottom: 4px;
    outline:none;
}
.but:hover {
    background-color: #0F0F0F;
    color: #F3F3F3;
    margin-top: 3px;
    margin-right: 7px;
    outline:none;
}
.content {
    height: 98%;
}
.row.row-broken {
    padding-bottom: 0;
    height: 90%;
    width: 70%;
    font-family: "Open Sans";
    background-color: #FFFFFF;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 15px;
    border: 2px solid #008B8b;
}
.col-inside-lg {
    padding: 20px;
    border-width: 0px;
}
.chat {
    height: 85%;
}
.main-wrapper {
    border-right: 3px solid #008B8b;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.chat-wrapper {
    height: 100%;
    background-color: #D3D3D3;

}
.decor-default {
    background-color: #ffffff;
}
.chat-users{
    height: 100%;
}
.chat-users h6 {
    font-size: 3vw;
    font-family: 'Pacifico', serif;
}
.chat-users .user {
    position: relative;
    display: block;
    cursor: pointer;
}

.chat-users .user .name {
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*****************CHAT BODY *******************/
.chat-body .log {
    background: #ffffff;
    color: #000000;
    clear: both;
    border-radius: 8px 8px 8px 0;
    font-size: 18px;
    list-style: none;
    text-align: -webkit-center;
    text-align: center;
    margin-bottom: 10px;
}

.chat-body{
    height: 80%;
}

.chat-body .answer.left {
    padding: 0 0 0 10px;
    text-align: left;
    float: left;
    margin-bottom: 5px;
}
.chat-body .answer {
    position: relative;
    max-width: 200px;
    overflow: hidden;
    word-wrap: break-word;
    clear: both;

}

.chat-body .answer .name {
    font-size: 11px;
    line-height: 19px;
}

.chat-body .answer.left .text {
    background: #ebebeb;
    color: #333333;
    border-radius: 8px 8px 8px 0;
}
.chat-body .answer .text {
    padding: 3px 3px 3px 3px;
    font-size: 15px;
    line-height: 22px;
    position: relative;
}
.chat-body .answer.left .text:before {
    left: -30px;
    border-right-color: #ebebeb;
    border-right-width: 13px;
}
.chat-body .answer .text:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    border: 18px solid transparent;
    border-bottom-width: 0;
}

/*RIGHT*/
.chat-body .answer.right {
    padding: 0 20px 0 0;
    text-align: right;
    float: right;
    margin-bottom: 5px;
}

.chat-body .answer.right .text {
    background: #008B8b;
    color: #ffffff;
    border-radius: 8px 8px 0 8px;
}
.chat-body .answer.right .text:before {
    right: -30px;
    border-left-color: #008B8b;
    border-left-width: 13px;
}


/**************ADD FORM ***************/
.answer-add {
    position: relative;
    width: 70%;
    float: right;
    margin-top: 30px;
    padding: 20px;
    background: #4f9f98;
    border-radius: 13px;
    bottom: 0;
    right: 4px;
}
.answer-add input {
    border: none;
    background: none;
    display: block;
    width: 100%;
    font-size: 16px;
    line-height: 20px;
    padding: 0;
    color: #ffffff;
    outline: none;
}

.answer-add .answer-btn {
    display: block;
    cursor: pointer;
    width: 36px;
    height: 36px;
    position: absolute;
    top: 50%;
    margin-top: -18px;
}
.answer-add .answer-btn-2 {
    background: url("http://91.234.35.26/iwiki-admin/v1.0.0/admin/img/icon-41.png") 50% 50% no-repeat;
    right: 20px;
}
.answer-add input::-webkit-input-placeholder {
    color: #fff;
}

.answer-add input:-moz-placeholder { /* Firefox 18- */
    color: #fff;
}

.answer-add input::-moz-placeholder {  /* Firefox 19+ */
    color: #fff;
}

.answer-add input:-ms-input-placeholder {
    color: #fff;
}
.answer-add input {
    -webkit-appearance: none;
    border-radius: 0;
}

.room_info::-webkit-input-placeholder {
    color: #000;
}

.room_info:-moz-placeholder { /* Firefox 18- */
    color: #000;
}

.room_info::-moz-placeholder {  /* Firefox 19+ */
    color: #000;
}

.room_info:-ms-input-placeholder {
    color: #000;
}
.room_info {
    -webkit-appearance: none;
    border-radius: 0;
}