@charset "utf-8";
html, body {
	height: 100%;
	background-color: #000000;
	font-family: 'Brandon Text W01', sans-serif;
}

h1 {
	width: 100%;
	text-align: center;
	color: #FFFDFD;
	font-family: 'Brandon Text W01', sans-serif;
	font-size: 50px;
}
h4 {
	width: 100%;
	text-align: center;
	color: #FFFDFD;
	font-family: 'Brandon Text W01', sans-serif;
}
.room_info{
	background-color: #000000;
	color: #FFFFFF;
	width: 400px;
	border-left: none;
	border-right: none;
	border-top: none;
	border-bottom: 2px inset #FCF9F9;
	text-align: center;
	font-size: 44px;
	font-family: 'Brandon Text W01', sans-serif;
	-webkit-box-shadow: 0px 0px;
	box-shadow: 0px 0px;
	outline: none;
	margin-left: -33px;
	font-weight: lighter;
}

#wraper{
	text-align: center;
	width: 300px;
    height: 100px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;

  margin: -70px 0 0 -170px;
}

.chat_page {
	display: none;
	height: 97%;
	width: 97%;
	position: absolute;
	margin-top: -9px;
}
.login_page{
	display: block;
}