@charset "utf-8";
body, html {
	width: 100%;
	height: 100%;
}

#outer-container {
    border: 1px dotted black;
    width: 100%;
    height: 100%;
    text-align: center;
}
.inner-container {
    border: 1px solid black;
    display: inline-block;
    position: relative;
}
.local {
	top: 0px;
	position: absolute;
	width: 133px;
	height: 100px;
}
.remote {
	width: 720px;
	height: 541px;
}
video {
    width: 100%;
    height: 100%;
}
