@charset "utf-8";
body, html {
	width: 100%;
	height: 100%;
	background-color: #343d46;
}

#video-container {
	width: 50%;
	height: 97%;
	text-align: center;
	left: 23%;
	position: relative;
	border: 10px solid rgba(38,44,51,1.00);
	border-radius: 15px;
}
.local {
	top: 0px;
	left:0px;
	position: absolute;
	width: 20%;
	height: 18%;
}
.remote {
	width: 100%;
	height: 100%;
	position:relative;

}
video {
    width: 100%;
    height: 100%;
}
.hang-up {
	background: rgba(69,81,94,1.00);
	width: 10%;
	height: 6%;
	position: absolute;
	top: 5%;
	left: 3%;
	border: 3px solid rgba(33,39,45,1.00);
	border-radius: 15px;
    transition-duration: 0.4s;
}
.hang-up:hover {
	background-color:rgba(38,44,51,1.00);
	border-color:rgba(69,81,94,1.00);
	color: #ECECEC;
	cursor: pointer;
}